<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Dates and Numbers</title>
</head>
<body>
    <h1>Трансакції</h1>
    <form action="/" method="post">
        <label for="date_start">Start Date:</label>
        <input type="date" id="date_start" name="date_start" required><br><br>

        <label for="date_end">End Date:</label>
        <input type="date" id="date_end" name="date_end" required><br><br>

        <label for="number1">код ЄДРПОУ платника:</label>
        <input type="number" id="number1" name="number1"><br><br>

        <label for="number2">код ЄДРПОУ отримувача:</label>
        <input type="number" id="number2" name="number2"><br><br>

        <button type="submit">Вивід даних</button>
    </form>
</body>
</html>

